= form_for(@article) do |f|
  - if @article.errors.any?
    %ul
      - @article.errors.full_messages.each do |error|
        %li
          = error
  %p
    = f.label :title, "Article title:"
    = f.text_field :title
  %p
    = f.label :body, "Body of the article:"
    = f.text_area :body, size: "150 x 20"
  %p
    = f.label :tag_list, "Specify article tags:"
    = f.text_field :tag_list
  %p
    = f.submit
