= simple_form_for @article_form,
  url: (@article_form.article.new_record? ? articles_path : article_path(@article_form.article) ) do |f|
  = f.input :title, label: "Article title:"
  = f.input :body, label: "Body of the article:", as: :text, input_html: { :style => 'height: 200px' }
  .tags
    = f.input :tags_string, label: "Tags:", input_html: { value: f.object.all_tags }
    = f.error :tags, class: 'invalid-feedback'
  = f.button :submit, 'Send!'
