%h1= @article.title
%p= @article.body
%br
= render 'comments/comment_list'
%br
= render 'comments/form'
%br
%br

%p
  The following tags were added to this article:
|
- @article.tags.each do |tag|
  = link_to "##{tag}", tag_name_path(tag.name)
  |
%br
%br

= link_to "Back to all articles", articles_path, class: "new article"
-if current_user.present? && @article.author_id == current_user.id
  |
  = link_to "Edit this article", edit_article_path(@article), class: "edit article"
  |
  = link_to "Delete this article", article_path(@article), class: "delete article", method: :delete, data: {confirm: "U sure?"}
