%h1= @article.title
%h3= "Written by #{@article.author.displayed_name} on #{@article.formatted_created_at}"
%p= @article.body

- if current_user.present?
  = render 'ratings/form'
  
= comments_tree_for @comments
= render 'comments/form'

.well
  %p.text-muted
    The following tags were added to this article:
  |
  - @article.tags.each do |tag|
    = link_to "##{tag}", tag_name_path(tag.name)
    |

= link_to "Back to all articles", articles_path, class: "new article"
-if current_user.present? && @article.author_id == current_user.id
  |
  = link_to "Edit this article", edit_article_path(@article), class: "edit article"
  |
  = link_to "Delete this article", article_path(@article), class: "delete article", method: :delete, data: {confirm: "U sure?"}
