%h1 List of all tags (descending by popularity):
= will_paginate
%ul
  - @tags.each do |tag|
    %li
      =link_to "##{tag.name} -- [#{pluralize(tag.tags_count, 'article')}]", tag_name_path("#{tag.name}")
= will_paginate

%h4 Random section below
=link_to "Generate new tag and add it to random article", random_tag_path
%br
=link_to "Play russian roulette!", raise_error_tag_path
