%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      .navbar-brand= link_to "BLOG", root_path
      %ul.nav.navbar-nav
        %li= link_to "Users", users_path
        %li= link_to "Articles", articles_path
        %li= link_to "Tags", tags_path
        -if user_signed_in?
          %li= link_to current_user.email.capitalize, user_path(current_user), class: "user-navbar"
          %li= link_to "Logout", destroy_user_session_path, method: :delete
        -if !user_signed_in?
          %li= link_to "Login", new_user_session_path
          %li= link_to "Sign in", new_user_registration_path
          %li= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path
